<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.pitel.pdmuzei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PDmuzei"
        android:theme="@style/PDtheme">
        <service
            android:name=".PixelDailiesArtSource"
            android:description="@string/description"
            android:icon="@drawable/mask"
            android:label="Pixel Dailies">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="@color/logo" />
            <meta-data
                android:name="settingsActivity"
                android:value=".SettingsActivity" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/pixel_dailies" />
    </application>

</manifest>
